<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class='page-header'>
		<h1>{{poll.title}}</h1>
		<h5>Created by {{poll.authorname || 'Anonymous'}}, {{poll.date | date:'medium'}}</h5>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div>{{poll.desc}}</div>
			<br>
			<form name='form' class='form'>
				<div class='formgroup' ng-repeat='question in poll.questions'>
					<label>{{$index+1}}. {{question.prompt}}</label>
					<input ng-show="question.type==='text'" type='text' ng-model="response[$index]" />
					<div ng-show="question.type==='mc'" class='formgroup' ng-repeat='choice in question.choices track by $index'>
						<input type='checkbox' ng-show='question.multiselect' ng-model="response[$parent.$index]" />
						<input type='radio' name="{{'radio'+$parent.$index}}" ng-show='!question.multiselect' ng-model="response[$parent.$index]" value='{{choice}}' />
						{{choice}}
					</div>
					<div ng-show="question.custom">
						<input type='checkbox' ng-show='question.multiselect' ng-model="response[$index]">
						<input type='radio' name="{{'radio'+$parent.$index}}" ng-show='!question.multiselect' ng-model="response[$index]" value='{{choice}}'>
						<input type='text' ng-model='response[$index]' />
					</div>
				</div>
				<button class='btn btn-default' ng-click='submit()'>Submit</button>
			</form>
		</div>
	</div>
</div>